*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'ZCOOL XiaoWei', serif;
  text-align: center;
}

.container {
  display:grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.container > * {
  border: 1px solid white;
}

@media only screen and (max-width: 1762px) {
  .container {
    grid-template-columns: 1fr 10fr 1fr
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    grid-template-columns: 1fr 14fr 1fr
  }
}
/* 
  navigation
*/

.nav-bar {
  grid-column: 1 / -1;
  height: 150px;
  display: flex;
}

.nav-bar > * {
  flex: 1 1 14%;
  border: 1px solid white;
}

.nav-bar div {
  background: rgb(206, 203, 203);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn {
  width: 80%;
  height: 80%;
}

.topic-btn {
  width: 80%;
  height: 30%;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .nav-bar div {
    display: none;
  }

  .nav-bar div:first-child {
    display:flex;
    flex-direction: column;
  }
}
/* 
  Suggested Articles, top
*/

.latest-articles {
  grid-column: 1 / -1;
  display: flex;
  height: 700px;
  flex-wrap: wrap;
}

.latest-articles > * {
  flex-basis: 25%;
  background-color: rgb(158, 156, 156);
  border: 1px solid white;
}

.alert {
  position: absolute;
  left: 0;
  margin-left:50%;
  transform: translateX(-50%);
  background-color: rgb(102, 101, 101);
  color: rgb(255, 255, 255);
  padding: 5px;
}

@media only screen and (max-width: 1762px) {
  
  .latest-art {
    flex-basis: 33.333%;
  }
  
  .latest-art:last-of-type {
    display:none;
  }
}

@media only screen and (max-width: 1440px) {
  .latest-art {
    flex-basis: 50%;
  }

  .latest-art:last-of-type {
    display: unset;
  }
}

@media only screen and (max-width: 574px) {
  .latest-art {
    flex-basis: 100%;
  }

  .latest-articles {
    margin-top: 65px;
  }

  .alert {
    top: 140px ;
  }

}

/* 
  Center Articles, main 
*/

.main-articles {
  grid-column: 2 / -2;
  height: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.main-articles > * {
  background-color: rgba(0, 0, 0, 0.151);
  border: 1px solid white;
}

.each-main-art {
  flex: 0 1 25%;
}

.content-banner {
  flex: 0 1 50%;
  background-color: gray;
}

.ad {
  flex: 0 1 25%;
}

@media only screen and (max-width: 1024px) {
  .each-main-art {
    flex: 0 1 33.333%
  }
  
  .content-banner {
    flex: 0 1 66.666%;
  }
}

@media only screen and (max-width: 824px) {
  .main-articles > * {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 824px) {
  .main-articles > * {
    flex-basis: 100%;
  }
}


.main-banner {
  grid-column: 1 / -1;
  height: 600px;
  background-color: rgb(70, 69, 69);
}

.person-otw {
  grid-column: 1 / -2;
  height: 400px;
  background-color: rgb(184, 184, 184);
}

/* 
  Community profiles and links
*/
.comm-articles {
  grid-column: 2 / -2;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
}

.each-comm-article {
  flex: 0 1 50%;
  background:gray;
  border: 1px solid white;
}

@media only screen and (max-width: 1024px) {
  .each-comm-article {
    flex-basis: 100%;
  }
}

.sub-banner {
  grid-column: 1 / -1;
  height: 350px;
  background-color: rgb(87, 86, 86);
}

/* 
  Guides section
*/

.guides {
  grid-column: 2 / -2;
  height: 700px;
  display:flex;
  flex-wrap: wrap;
}

.guide-section {
  flex: 0 1 25%;
  background-color: rgb(175, 174, 174);
  border: 1px solid white;
}

@media only screen and (max-width: 1024px) {
  .guide-section {
    flex: 0 1 50%;
  }
}

.news-banner {
 grid-column: 2 / -2;
 height: 700px;
 background-color: rgb(71, 71, 71);
}

.foot {
  grid-column: 1 / -1;
  height: 500px;
  padding: 0 150px;
}

.additional-topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:rgb(216, 216, 216);
}

.topic {
  margin: 20px;
}

@media only screen and (max-width: 1024px) {
  .foot {
    padding: 0 50px;
  }
}